@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  /* Sets Inter as your default font-sans utility */
  --font-sans: 'Inter', sans-serif;
}

body {
  margin: 0 auto; 
  padding: 0;
}